 body {
   text-align: center;
   margin: 0;
   font-family: 'Roboto Slab', serif;
   color: white;
   background-color: #21222b;
   letter-spacing: 0.5px;
 }

 header {
   width: 100%;
   height: 100vh;
   background-color: #0c151a;
   background-image: url(images/bg-stars.svg);
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 #logo {
   width: 250px;
   border-radius: 50%;
 }

 #edit-icon {
   display: none;
   width: 30px;
 }

 .heading {
   font-size: 40px;
   font-weight: 400;
   margin-bottom: 0;
 }

 .header-section p {
   font-weight: 200;
   font-size: 18px;
 }

 @media (max-width:500px) {
   #logo {
     width: 150px;
   }

   .heading {
     font-size: 26px;
   }

   .header-section p {
     font-size: 14px;
   }
 }

 .section-heading {
   font-weight: 500;
   font-size: 32px;
   margin: 3rem 0 0;
   text-decoration: underline;
 }

 .app-heading {
   font-weight: 400;
   background-color: #0c151a36;
   width: 90%;
   height: 28px;
   margin: 3rem auto 0.5rem auto;
   border-radius: 5px;
 }

 .wa {
   margin: 20px;
   padding: 20px 10px 0;
   background-color: #0c151a36;
   box-shadow: 6px 6px 10px -3px #101010;
   height: 250px;
   width: 220px;
   border-radius: 10px
 }

 .wa:hover {
   transform: scale(1.03);
   transition: 0.2s;
 }

 .group-container {
   display: inline-flex;
   flex-flow: wrap;
   justify-content: center;
   width: 95%;
 }

 .group-dp {
   width: 140px;
   border-radius: 50%;
 }

 .group-name, .admin-name {
   font-weight: 400;
   margin: 10px;
 }

 .group-info {
   font-weight: 300;
   font-size: 14px;
 }

 a {
   text-decoration: none;
   color: white;
   cursor: pointer;
   display: contents;
 }

 #admin-section {
   background-color: #131419;
       margin-top: 3rem;
 }

#admin-section .section-heading{
  margin-top:1rem;
}

#admin-section .group-container{
  margin: 1rem 0 2rem 0;
}

 .admin-box {
   margin: 10px;
   padding: 10px;
   padding-bottom: 0;
   box-shadow: 4px 4px 5px -3px #3d3f4a;
   border-radius: 10px;
   background-color: #21222b;
 }

 .admin-box:hover {
   transform: scale(1.03);
   transition: 0.2s;
 }

 .admin-dp {
   width: 80px;
   border-radius: 50%;
 }

 footer {
   margin: 2.5rem auto 1rem auto;
 }

.dev-name{
  display: none;
}
