html {
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
}

* {
  box-sizing: border-box;
}

:root {
  --color-secondary: rgb(248, 248, 248);
  --color-primary: white;
  --color-text: black;
  --color-card: rgb(248, 248, 248);
  --color-card-shadow: rgb(0 0 0 / 15%) 0px 5px 10px;
  --color-nav: #ffffffde;
  --filter: none;
}
.dark {
  --color-primary: #0c151a;
  --color-secondary: #21222b;
  --color-text: white;
  --color-card: #21222b;
  --color-card-shadow: 6px 6px 10px -3px #101010;
  --color-nav: #1a0202de;
  --filter: invert(1);
}

body {
  background-color: var(--color-primary);
  text-align: center;
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: var(--color-text);
  letter-spacing: 0.5px;
}

/*================== NAV BAR ====================*/
nav {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  position: fixed;
  z-index: 1;
  background: var(--color-nav);
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
}

.nav-item-container {
  display: inline-flex;
  align-items: center;
}

.nav-logo {
  margin: 0;
  width: 80px;
  filter: var(--filter);
}

.nav-logo:hover {
  transform: rotate(-10deg) scale(1.1);
  transition: 1s;
}

li {
  display: inline;
  cursor: pointer;
  margin-right: 18px;
}

li:hover {
  color: #8d7575;
}

.theme-mode-container {
  background: azure;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-mode-container:hover {
  background: rgb(182 199 199);
}

.theme-mode {
  width: 25px;
}

section {
  padding: 20px 20px 5px 20px;
}
/*================== HEADER ====================*/
header {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  background-image: url(images/bg-stars.svg);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  border: 5px solid var(--color-text);
  padding: 5px;
  width: 250px;
  border-radius: 50%;
}

#edit-icon {
  display: none;
  width: 30px;
}
a {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
  display: contents;
}
.heading {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
}

#header-section p {
  font-weight: 200;
  font-size: 18px;
}

/*================= GROUP SECTION ==================*/
.groups {
  display: inline-block;
}

.section-heading {
  font-weight: 500;
  font-size: 30px;
  margin: 0 10px 2rem 10px;
  text-decoration: underline;
}

.app-heading {
  font-weight: 400;
  background-color: var(--color-primary);
  width: 90%;
  height: 30px;
  margin: 2rem auto 0.5rem auto;
  border-radius: 5px;
}

.card {
  margin: 20px;
  padding: 20px 10px 5px 10px;
  background-color: var(--color-card);
  box-shadow: var(--color-card-shadow);
  height: 255px;
  width: 220px;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.group-container {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
}

.group-dp {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.group-name,
.admin-name {
  font-weight: 400;
  margin: 10px;
}

.group-info {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0;
}

/*============ DRIVE SECTION ============*/
.drive-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.drive-subheading {
}
.drive-img {
  width: 50%;
  max-width: 460px;
  filter: brightness(1.5);
}
.drive-text {
  width: 50%;
  max-width: 500px;
  padding: 0 20px;
}
.drive-text a {
  color: blue;
}
@media (max-width: 900px) {
  .drive-container {
    flex-direction: column;
  }
  .drive-img {
    width: 100%;
  }
  .drive-text {
    width: 100%;
    max-width: 460px;
    padding: 0;
  }
}

/*=========== ACHIEVE SECTION ===========*/
#achieve-section {
  margin-top: 1rem;
  width: 100%;
}

.achieve-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.achieve-box {
  display: inline-block;
  margin-bottom: 2.5rem;
  padding: 13px;
  padding-bottom: 0;
  box-shadow: 4px 4px 5px -3px #3d3f4a;
  border-radius: 6px;
  background-color: var(--color-primary);
}

/*======== ADMIN SECTION =======*/
.admin-box {
  margin: 5px;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 10px;
  background-color: var(--color-card);
  box-shadow: var(--color-card-shadow);
}

.admin-box:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.admin-dp {
  width: 80px;
  height: 82px;
  border-radius: 50%;
}

footer {
  padding: 18px 0 14px 0;
}

.dev-name {
  display: none;
}

/*=============== MEDIA QUERY: 700PX ================*/
@media (max-width: 700px) {
  .section {
    padding: 15px 15px 5px 15px;
  }
  .drive-container {
    width: 100%;
    padding: 0 15px;
  }
  .drive-img {
    width: 100%;
  }
  .drive-text {
    margin: 25px 15px;
  }
  .achieve-box {
  }
  .achieve-box img {
    width: 85vw;
    padding: 12px 0 0;
  }
  .card {
    margin: 15px;
    height: 258px;
    width: 200px;
  }
  .group-info {
    margin-top: 10px;
  }
}

/*=============== MEDIA QUERY: 500PX ================*/
@media (max-width: 500px) {
  nav {
    /* position: static; */
  }
  li {
    display: none;
    margin: 0 12px 0 3px;
  }
  .imp-li {
    display: block;
  }
  #logo {
    width: 160px;
    border: 3px solid var(--color-text);
    padding: 3px;
  }

  .heading {
    font-size: 26px;
  }

  #header-section p {
    font-size: 14px;
  }
  .section-heading {
    font-size: 25px;
  }
  .group-dp {
    width: 105px;
    height: 105px;
  }
  .group-info {
    margin-top: 10px;
    font-size: 12px;
  }
  .group-name,
  .admin-name {
    font-size: 14px;
  }
  .card {
    height: 225px;
    width: 150px;
    margin: 15px 10px;
  }
  .admin-box {
    margin: 6px;
  }
}

@media (max-width: 380px) {
  nav {
    padding: 5px 8px;
  }
  .card {
    height: 215px;
    width: 130px;
    margin: 12px 6px;
  }
  .group-dp {
    width: 95px;
    height: 95px;
  }
  .group-name,
  .admin-name {
    margin: 10px 0px 5px;
  }
  .admin-dp {
    width: 72px;
    height: 74px;
  }
}

.section:nth-child(2n) {
  background-color: var(--color-primary);
}
.section:nth-child(2n + 1) {
  background-color: var(--color-secondary);
}
