:root {
  --color-secondary: rgb(249 240 250);
  --color-primary: #efece6;
  --color-text: black;
  --color-card: #8bc3e136;
  --color-card-shadow: #c0ccf4;
  --color-nav: #ffffffde;
}
.dark {
  --color-primary: #0c151a;
  --color-secondary: #21222b;
  --color-text: white;
  --color-card: #0c151a36;
  --color-card-shadow: #101010;
  --color-nav: #1a0202de;
}

body {
  text-align: center;
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: var(--color-text);
  background-color: var(--color-secondary);
  letter-spacing: 0.5px;
}

nav {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 20px;
  position: fixed;
  z-index: 1;
  background: var(--color-nav);
}

.nav-item-container {
  display: inline-flex;
  align-items: center;
}

.nav-heading {
  font-size: 25px;
  display: inline;
  margin: 0;
  font-weight: 400;
}

li {
  display: inline;
  cursor: pointer;
  margin-right: 18px;
}

li:hover {
  color: #8d7575;
}

.theme-mode-container {
  background: azure;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-mode-container:hover {
  background: rgb(182 199 199);
}

.theme-mode {
  width: 25px;
}

header {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  background-image: url(images/bg-stars.svg);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 250px;
  border-radius: 50%;
}

#edit-icon {
  display: none;
  width: 30px;
}
a {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
  display: contents;
}
.heading {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
}

#header-section p {
  font-weight: 200;
  font-size: 18px;
}

.groups {
  display: inline-block;
}

@media (max-width: 500px) {
  nav {
    position: static;
  }
  li {
    display: none;
  }
  #logo {
    width: 150px;
  }

  .heading {
    font-size: 26px;
  }

  #header-section p {
    font-size: 14px;
  }
}

.section-heading {
  font-weight: 500;
  font-size: 30px;
  margin: 2rem 10px;
  text-decoration: underline;
}

.app-heading {
  font-weight: 400;
  background-color: var(--color-primary);
  width: 90%;
  height: 30px;
  margin: 2rem auto 0.5rem auto;
  border-radius: 5px;
}

.card {
  margin: 20px;
  padding: 20px 10px 5px 10px;
  background-color: var(--color-card);
  box-shadow: 6px 6px 10px -3px var(--color-card-shadow);
  height: 240px;
  width: 220px;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.group-container {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
}

.group-dp {
  width: 140px;
  border-radius: 50%;
}

.group-name,
.admin-name {
  font-weight: 400;
  margin: 10px;
}

.group-info {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0;
}

#achieve-section {
  background-color: var(--color-primary);
  margin-top: 1rem;
  width: 100%;
}

.achieve-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.achieve-box {
  display: inline-block;
  margin-bottom: 2.5rem;
  padding: 13px;
  padding-bottom: 0;
  box-shadow: 4px 4px 5px -3px #3d3f4a;
  border-radius: 6px;
  background-color: var(--color-secondary);
}

@media (max-width: 700px) {
  .achieve-box {
    margin: 0 20px 2.5rem 20px;
  }
  .achieve-box img {
    width: 85vw;
    padding: 12px 0 0;
  }
  .card {
    margin: 15px;
    height: 240px;
    width: 200px;
  }
  .group-info {
    margin-top: 10px;
  }
}

.admin-box {
  margin: 10px;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 10px;
  background-color: #0c151a36;
  box-shadow: 6px 6px 10px -3px #101010;
}

.admin-box:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.admin-dp {
  width: 80px;
  border-radius: 50%;
}

footer {
  margin: 2.5rem auto 1rem auto;
}

.dev-name {
  display: none;
}

@media (max-width: 500px) {
  .section-heading {
    font-size: 25px;
  }
  .group-dp {
    width: 105px;
  }
  .group-info {
    margin-top: 10px;
    font-size: 12px;
  }
  .group-name,
  .admin-name {
    font-size: 14px;
  }
  .card {
    height: 200px;
    width: 150px;
    margin: 15px 10px;
  }
}
