body {
  background-size: auto;
  background-image: url("https://thumbs.dreamstime.com/b/high-tech-eco-green-infinity-computer-technology-concept-backgro-background-32595794.jpg");
}
.container {
  display: flex;
}
.card {
  position: relative;
  top: 50px;
  display: inline;
  width: 400px;
  margin-left: 20px;
  /* overflow: visible; */

  border-radius: 2px 2px 8px 8px;
  box-shadow: 2px 2px 12px 2px black;
}

.content-table {
  margin: 0%;
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 20px;
  min-width: 400px;
  /* border-radius: 20px 20px 0 0; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}
th {
  /* padding: 12px 2px 2px 2px; */
  /* height: 100px; */
}
header {
  background-color: #1e024b;
  color: white;
  font-size: 60px;
  text-align: center;
}

.month {
  background-color: #feae96;
  background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);

  color: #ffffff;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 74px;
  top: -34px;
  border: 1px solid rgba(0, 0, 0, 0.329);
  width: 220px;
  border-radius: 15px;
  /* height: 10px; */
}
.month2 {
  background: linear-gradient(to right, #019d13 0%, #879e93 100%);
}
.month3 {
  background: linear-gradient(to right, #03019d 0%, #969aa6 100%);
}

.content-table thead tr {
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #e4b573 0%, #fe5858 74%);

  color: #ffffff;
  text-align: center;
  font-family: "Roboto";
  /* font-weight: bold; */
}
.td {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.month2-tr thead tr {
  background: linear-gradient(to right, #54c060 0%, #60cc60 100%);
}
.month3-tr thead tr {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.content-table th {
  padding: 49px 0px 15px 0px;
}
.content-table td {
  padding: 15px 1px 2px 12px;
}

.content-table tbody tr {
  border-bottom: 1px solid #f5f2f2;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #eeeaeab7;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
