#birthday_b {
  background-size: auto;
  background-image: url("https://thumbs.dreamstime.com/b/high-tech-eco-green-infinity-computer-technology-concept-backgro-background-32595794.jpg");
  color: black;
  letter-spacing: 0px;
}

.bday-header_b {
  font-size: 26px;
  font-weight: 500;
  margin: 25px 0 10px 0;
  text-decoration: underline;
  color: #000102d4;
}

.wish_b {
  position: relative;
  justify-content: center;
  align-items: center;
  background: url("../images/diwali.gif");
  width: 100%;
  overflow: hidden;
  display: none;
}

.happy-birthday_b {
  font-family: "Satisfy", cursive;
  text-shadow: 5px 4px 9px rgb(44, 37, 146);
  margin: 0;
  color: #fdfdfd;
  font-weight: 400;
  font-size: 46px;
  position: relative;
  top: 7px;
}

.bdy-boy_b {
  font-size: 55px;
  color: #c4c70cf1;
  font-family: "Satisfy", cursive;
  text-shadow: 5px 4px 5px red;
  margin: 0;
  animation: infinite o;
  font-weight: 400;
  text-transform: capitalize;
}
.gif_b {
  background: url("../images/cake.gif");
  width: 135px;
  height: 135px;
  background-size: contain;
  background-repeat: no-repeat;
}
.balloon_b {
  width: 50px;
  margin: 0 20px;
  animation: down_up 3.5s infinite;
  transform: translateY(130px);
}

.balloon2_b {
  animation-delay: 1s;
}

@keyframes down_up {
  0% {
  }
  100% {
    display: inline;
    transform: translateY(-130px);
  }
}

.months-container_b {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  font-family: "Newsreader", serif;
}
.card_b {
  position: relative;
  display: inline;
  margin: 40px 15px 15px 15px;
  border-radius: 2px 2px 8px 8px;
  box-shadow: 2px 2px 12px 2px black;
  width: 450px;
}

.content-table_b {
  margin: 0%;
  border-collapse: collapse;
  font-size: 20px;
}

.month_b {
  background-color: #feae96;
  background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-75px);
  border: 1px solid rgba(0, 0, 0, 0.329);
  width: 165px;
  border-radius: 15px;
}
.month2_b {
  background: linear-gradient(to right, #019d13 0%, #879e93 100%);
}
.month3_b {
  background: linear-gradient(to right, #03019d 0%, #969aa6 100%);
}

.content-table_b thead {
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #e4b573 0%, #fe5858 74%);
  color: #ffffff;
  text-align: center;
  font-family: "Roboto";
}
/* .td_b {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

.month2-tr_b thead {
  background: linear-gradient(to right, #54c060 0%, #60cc60 100%);
}
.month3-tr_b thead {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.content-table_b th {
  padding: 30px 10px 10px 10px;
  width: 140px;
}
.content-table_b td {
  padding: 9px 6px 7px 6px;
  word-break: break-word;
  text-transform: capitalize;
}

.content-table_b tbody tr {
  border-bottom: 1px solid #f5f2f2;
}

.content-table_b tbody tr:nth-of-type(even) {
  background-color: #eeeaeab7;
}

.date_b {
  width: 30px !important;
}

@media (max-width: 700px) {
  .today-bday-text_b {
    width: 80%;
  }
  .happy-birthday_b {
    font-size: 42px;
  }
  .bdy-boy_b {
    font-size: 50px;
  }
  .balloon_b {
    width: 46px;
  }
  .balloon2_b {
    display: none;
  }
  .gif_b {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 500px) {
  .happy-birthday_b {
    font-size: 36px;
    z-index: 1;
  }
  .bdy-boy_b {
    font-size: 40px;
    z-index: 1;
  }
  .balloon_b {
    z-index: 0;
    position: absolute;
    right: 0;
  }
  .month_b {
    font-size: 22px;
    padding: 6px;
    top: -28px;
  }
  .months-container_b {
    padding: 0;
  }
  .content-table_b th {
    padding: 20px 3px 6px 3px;
    font-size: 18px;
  }
  .content-table_b td {
    font-size: 17px;
    padding: 10px 3px 10px 3px;
  }
  .card_b {
    width: 100%;
    margin: 40px 0px 15px 0px;
  }
}
