html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0c151a;
  text-align: center;
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: white;
  letter-spacing: 0.5px;
}

/*================== NAV BAR ====================*/
nav {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  position: fixed;
  z-index: 1;
  background: #1a0202de;
  box-shadow: 0px 3px 6px rgb(62 43 43 / 60%);
}

.nav-item-container {
  display: inline-flex;
  align-items: center;
}

.nav-logo {
  margin: 0;
  width: 80px;
  filter: invert(1);
}

.nav-logo:hover {
  transition: 1s;
}

li {
  display: inline;
  cursor: pointer;
  margin-right: 18px;
}

li:hover {
  color: #8d7575;
}

.theme-mode-container {
  background: azure;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.theme-mode-container:hover {
  background: rgb(182 199 199);
}

.theme-mode {
  width: 25px;
}

section {
  padding: 30px 20px 10px 20px;
  border-top: 0.6px solid #938787;
  border-top-style: groove;
}
#drive-section {
  padding-bottom: 30px;
}
.err {
  border: 1px solid white;
  padding: 3px 8px;
  margin-bottom: 25px;
  font-family: monospace;
  font-size: 14px;
}

/*================== HEADER ====================*/
header {
  width: 100%;
  height: 100vh;
  background-color: #0c151a;
  /* background-image: url(./asserts/images/bg-stars.svg); */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./asserts/images/6.gif");
  background-position: center;
}

#logo {
  background-image: url(./asserts/images/10.gif);
  background-position: center;
  background-size: 300px;
  padding: 10px;
  width: 250px;
  border-radius: 50%;
}

#edit-icon {
  display: none;
  width: 30px;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: contents;
}
.heading {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
}

#header-section p {
  font-weight: 200;
  font-size: 18px;
}

/*================= GROUP SECTION ==================*/
#group-section,
#admin-section,
footer,
#drive-section,
#achieve-section {
  background-image: url("./asserts/images/26.gif");
  background-position: center;
}

.groups {
  display: inline-block;
}

.section-heading {
  font-weight: 500;
  font-size: 30px;
  margin: 0 10px 36px 10px;
  text-decoration: underline;
}

.app-heading {
  font-weight: 400;
  background-color: #0c151a;
  width: 90%;
  height: 30px;
  margin: 15px auto 5px auto;
  border-radius: 5px;
  border: 1px solid aliceblue;
  background-color: white;
  color: black;
}
.wa .app-heading {
  margin-top: 0;
}

.card {
  margin: 20px;
  padding: 20px 10px 5px 10px;
  background-color: #231e1f;
  background-color: #8b00001e;
  height: 255px;
  width: 220px;
  border-radius: 10px;
  overflow: hidden;
}
.card,
.admin-box {
  border: 2px solid darkred;
  /* box-shadow: 1px 1px 5px -4px #e02e19; */
  /* border: 2px solid #382f35; */
  border: 2px solid #c0c3c6;
  background-color: #55475073;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.group-container {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
}

.group-dp {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.group-name,
.admin-name {
  font-weight: 400;
  margin: 10px;
}

.group-info {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0;
}

/*============ DRIVE SECTION ============*/
.drive-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.drive-img {
  width: 50%;
  max-width: 460px;
  filter: brightness(1.5);
}
.drive-text {
  width: 50%;
  max-width: 500px;
  padding: 0 20px;
}
.drive-text a {
  color: blue;
}
@media (max-width: 900px) {
  .drive-container {
    flex-direction: column;
  }
  .drive-img {
    width: 100%;
  }
  .drive-text {
    width: 100%;
    max-width: 460px;
    padding: 0;
  }
}

/*=========== ACHIEVE SECTION ===========*/
#achieve-section {
  width: 100%;
}

.achieve-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.achieve-box {
  display: inline-block;
  margin-bottom: 32px;
  padding: 13px;
  padding-bottom: 0;
  box-shadow: 4px 4px 5px -3px #3d3f4a;
  border-radius: 6px;
  background-color: #0c151a;
  background-color: #0c151a73;
}
.tournament {
  width: 500px;
}

.medal-img {
  width: 55px;
  height: 55px;
}
.winners {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 80px;
}
.winners div {
  width: 110px;
}

.winners-2 {
  transform: translateY(40px);
}
.winners-3 {
  transform: translateY(50px);
}

/*======== ADMIN SECTION =======*/
.admin-box {
  margin: 5px;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -3px #101010;
}

.admin-box:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.admin-dp {
  width: 80px;
  height: 82px;
  border-radius: 50%;
}

footer {
  padding: 18px 0 14px 0;
}

.dev-name {
  display: none;
}

/*=============== MEDIA QUERY: 700PX ================*/
@media (max-width: 700px) {
  .section {
    padding: 15px 15px 5px 15px;
  }
  .drive-container {
    width: 100%;
    padding: 0 15px;
  }
  .drive-img {
    width: 100%;
  }
  .drive-text {
    margin: 25px 15px;
  }

  .donation img,
  .unread img {
    width: 85vw;
    padding: 12px 0 0;
  }
  .card {
    margin: 15px;
    height: 258px;
    width: 200px;
  }
  .group-info {
    margin-top: 10px;
  }
  .admin-box {
    padding: 9px 9px 0 9px;
  }
  .admin-dp {
    width: 65px;
    height: 67px;
  }
  .admin-name {
    font-size: 14px;
  }
}

/*=============== MEDIA QUERY: 500PX ================*/
@media (max-width: 500px) {
  .err {
    font-size: 12px;
  }
  li {
    display: none;
    margin: 0 12px 0 3px;
  }
  .imp-li {
    display: block;
  }
  #logo {
    width: 160px;
    background-size: 182px;
    /* border: 3px solid white; */
    /* padding: 3px; */
  }
  .tournament {
    width: 100%;
  }
  .heading {
    font-size: 26px;
  }

  #header-section p {
    font-size: 14px;
  }
  .section-heading {
    font-size: 25px;
  }
  .group-dp {
    width: 105px;
    height: 105px;
  }
  .group-info {
    margin-top: 10px;
    font-size: 12px;
  }
  .group-name,
  .admin-name {
    font-size: 14px;
  }
  .card {
    height: 225px;
    width: 150px;
    margin: 15px 10px;
  }
  .admin-box {
    margin: 6px;
    padding: 8px 8px 0 8px;
  }
  .admin-dp {
    width: 60px;
    height: 62px;
  }
  .admin-name {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  nav {
    padding: 5px;
  }
  .card {
    height: 215px;
    width: 130px;
    margin: 12px 6px;
  }
  .group-dp {
    width: 95px;
    height: 95px;
  }
  .group-name,
  .admin-name {
    margin: 10px 0px 5px;
  }
  .admin-box {
    margin: 5px;
    padding: 7px 7px 0 7px;
  }
  .admin-dp {
    width: 55px;
    height: 56px;
  }
  .admin-name {
    font-size: 12px;
  }
  .winners div {
    width: 33%;
  }
}

@media (max-width: 310px) {
  .group-nav {
    display: none;
  }
}

.section:nth-child(2n) {
  background-color: #0c151a;
}
.section:nth-child(2n + 1) {
  background-color: #221d1e;
}
